.popular1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin-bottom: 600px;
}

.popular1 h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;
}

.popular1 hr{
    width: 200px;
    height: 12px;
    border-radius: 10px;
    background: #252525;
}

.popular-item1{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}